<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="u0" class="ax_default">
  <div id="u0_state0" class="panel_state" data-label="State1" style="">
    <div id="u0_state0_content" class="panel_state_content">

      <div id="u1" class="ax_default" data-left="0" data-top="0" data-width="185" data-height="255">
        <div id="u2" class="ax_default box_2">
          <div id="u2_div" class=""></div>
          <div id="u2_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
        <div id="u3" class="ax_default box_3">
          <div id="u3_div" class=""></div>
          <div id="u3_text" class="text ">
            <p><span>Item one</span></p>
          </div>
        </div>
        <div id="u4" class="ax_default box_2">
          <div id="u4_div" class=""></div>
          <div id="u4_text" class="text ">
            <p><span>Item three</span></p>
          </div>
        </div>
        <div id="u5" class="ax_default box_3">
          <div id="u5_div" class=""></div>
          <div id="u5_text" class="text ">
            <p><span>Item two</span></p>
          </div>
        </div>
        <div id="u6" class="ax_default heading_2">
          <div id="u6_div" class=""></div>
          <div id="u6_text" class="text ">
            <p><span>Genre</span></p>
          </div>
        </div>
        <div id="u7" class="ax_default box_2">
          <div id="u7_div" class=""></div>
          <div id="u7_text" class="text ">
            <p><span>Item Four</span></p>
          </div>
        </div>
        <div id="u8" class="ax_default box_3">
          <div id="u8_div" class=""></div>
          <div id="u8_text" class="text ">
            <p><span>Item one</span></p>
          </div>
        </div>
        <div id="u9" class="ax_default box_3">
          <div id="u9_div" class=""></div>
          <div id="u9_text" class="text ">
            <p><span>Item two</span></p>
          </div>
        </div>
        <div id="u10" class="ax_default box_2">
          <div id="u10_div" class=""></div>
          <div id="u10_text" class="text ">
            <p><span>Item three</span></p>
          </div>
        </div>
        <div id="u11" class="ax_default box_2">
          <div id="u11_div" class=""></div>
          <div id="u11_text" class="text ">
            <p><span>Item Four</span></p>
          </div>
        </div>

        <div id="u12" class="ax_default box_3">
          <div id="u12_div" class=""></div>
          <div id="u12_text" class="text ">
            <p><span>More</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
